@model IEnumerable<MoneyTracker.Models.SubCategory>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-3">
            <h2 class="text-primary">Sub Category List</h2>
        </div>
        <div class="col-3">
            <a asp-controller="Category" asp-action="index" class="btn btn-secondary">
                <i class="bi bi-arrow-return-left"></i> &nbsp; Retrun
            </a>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Sub Category
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Name), "Index", new { sortOrder = ViewBag.NameSortParam, categoryId = ViewBag.CategoryId })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Description), "Index", new { sortOrder = ViewBag.DescriptionSortParam, categoryId = ViewBag.CategoryId })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.DisplayOrder), "Index", new { sortOrder = ViewBag.DisplayOrderSortParam, categoryId = ViewBag.CategoryId })
            </th>
            <th>
                @Html.ActionLink(Html.DisplayNameFor(model => model.Category), "Index", new { sortOrder = ViewBag.CategorySortParam, categoryId = ViewBag.CategoryId })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td width="20%">
                @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="40%">
                @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td width="10%">
                @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td width="10%">
                @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <div class="btn-group w-80" role="group">
                        <a asp-action="Edit" asp-route-id="@item.SubCategoryId" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                    <div class="btn-group w-80" role="group">
                        <a asp-action="Delete" asp-route-id="@item.SubCategoryId" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="container pb-1">
    <div class="row">
        <div class="col-9">
            <ul class="pagination">
                <li class="page-item @ViewBag.FirstPage">
                    <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="1" asp-route-sortOrder="@ViewBag.CurrentSortOrder" asp-route-pageSize="@ViewBag.PageSize">&laquo;</a>
                </li>
                @foreach (int item in ViewBag.Pages)
                {
                    if (item.ToString() == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@item" asp-route-sortOrder="@ViewBag.CurrentSortOrder" asp-route-pageSize="@ViewBag.PageSize">@item</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@item" asp-route-sortOrder="@ViewBag.CurrentSortOrder" asp-route-pageSize="@ViewBag.PageSize">@item</a>
                        </li>
                    }
                }
                <li class="page-item @ViewBag.LastPage">
                    <a class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId" asp-route-page="@ViewBag.PageCount" asp-route-sortOrder="@ViewBag.CurrentSortOrder" asp-route-pageSize="@ViewBag.PageSize">&raquo;</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            @using (Html.BeginForm("Index", "SubCategories", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-7 text-end align-self-lg-center">
                        <label class="control-label">Page size</label>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <input type="text" class="form-control" value="@ViewBag.PageSize" name="pageSize">
                            <button class="btn btn-primary" type="submit">+</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>